@import 'tailwindcss';
@import '@fontsource/fira-mono';
@plugin '@tailwindcss/forms';

:root {
	--font-body:
		'Source Sans 3', -apple-system, BlinkMacSystemFont, 'Segoe UI', open-sans, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
	--color-text: rgba(0, 0, 0, 1);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

.open-sans-regular {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.open-sans-bold {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-style: normal;
}

body {
	max-height: 100dvh;
	max-height: 100vh;
	overflow: hidden;
	font-family: 'Source Sans 3';
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.theme-blue {
	.listitem {
		background-color: #f7fbfa;

		.gender-bg {
			background-color: #e6eef0;
		}

		.gender-icon {
			color: #a0b4bc;
		}

		input[type='range']::-webkit-slider-runnable-track {
			background-color: #e5f1f1;
		}

		input[type='range']::-moz-range-track {
			background-color: #e5f1f1;
		}

		input[type='range']::-webkit-slider-thumb {
			background-color: #c9d9d6;
		}

		input[type='range']::-moz-range-thumb {
			background-color: #c9d9d6;
		}
	}
}

.theme-orange {
	.listitem {
		background-color: #fef9f5;

		.gender-bg {
			background-color: #faedde;
		}

		.gender-icon {
			color: #d2a597;
		}

		input[type='range']::-webkit-slider-runnable-track {
			background-color: #fceadd;
		}

		input[type='range']::-moz-range-track {
			background-color: #fceadd;
		}

		input[type='range']::-webkit-slider-thumb {
			background-color: #e0d7c8;
		}

		input[type='range']::-moz-range-thumb {
			background-color: #e0d7c8;
		}
	}
}

.theme-pink {
	.listitem {
		background-color: #fff8f5;

		.gender-bg {
			background-color: #feebe7;
		}

		.gender-icon {
			color: #d68c8a;
		}

		input[type='range']::-webkit-slider-runnable-track {
			background-color: #ffe3de;
		}

		input[type='range']::-moz-range-track {
			background-color: #ffe3de;
		}

		input[type='range']::-webkit-slider-thumb {
			background-color: #ead1cb;
		}

		input[type='range']::-moz-range-thumb {
			background-color: #ead1cb;
		}
	}
}

.theme-green {
	.listitem {
		background-color: #fcfdf7;

		.gender-bg {
			background-color: #eef6e9;
		}

		.gender-icon {
			color: #b2c5ab;
		}

		input[type='range']::-webkit-slider-runnable-track {
			background-color: #eaf7da;
		}

		input[type='range']::-moz-range-track {
			background-color: #eaf7da;
		}

		input[type='range']::-webkit-slider-thumb {
			background-color: #dbdfcf;
		}

		input[type='range']::-moz-range-thumb {
			background-color: #dbdfcf;
		}
	}
}

.theme-yellow {
	.listitem {
		background-color: #fefdf9;

		.gender-bg {
			background-color: #fbf0ef;
		}

		.gender-icon {
			color: #de9e9f;
		}

		input[type='range']::-webkit-slider-runnable-track {
			background-color: #fef2e6;
		}

		input[type='range']::-moz-range-track {
			background-color: #fef2e6;
		}

		input[type='range']::-webkit-slider-thumb {
			background-color: #e2dbcb;
		}

		input[type='range']::-moz-range-thumb {
			background-color: #e2dbcb;
		}
	}
}
