@import 'tailwindcss';
@import '@fontsource/fira-mono';
@plugin '@tailwindcss/forms';

:root {
	--font-body:
		'Source Sans 3', -apple-system, BlinkMacSystemFont, 'Segoe UI', open-sans, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
	--color-text: rgba(0, 0, 0, 1);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

.open-sans-regular {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.open-sans-bold {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-style: normal;
}

body {
	max-height: 100dvh;
	max-height: 100vh;
	overflow: hidden;
	font-family: 'Source Sans 3';
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.listitem {
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.theme-blue {
	.listitem {
		background-color: #f7fbfa;

		.gender-bg {
			background-color: #e6eef0;
		}

		.gender-icon {
			color: #a0b4bc;
		}

		input[type='range']::-webkit-slider-runnable-track {
			background-color: #e5f1f1;
		}

		input[type='range']::-moz-range-track {
			background-color: #e5f1f1;
		}

		input[type='range']::-webkit-slider-thumb {
			background-color: #c9d9d6;
		}

		input[type='range']::-moz-range-thumb {
			background-color: #c9d9d6;
		}

		.action-button {
			background-color: #e6eef0;
			color: #a0b4bc;
		}
		.action-button-reverse {
			color: #e6eef0;
			background-color: #a0b4bc;
		}

		.fa-spinner {
			color: #a0b4bc;
		}
	}
	.listitem.item-open {
		box-shadow: 0px 4px 10px rgba(112, 154, 170, 0.5);
	}
	&.toast-alert {
		background-color: #e6eef0;
		color: black;
		box-shadow: 0px 4px 10px rgba(49, 49, 49, 0.8);
	}

	&.toast-alert button {
		color: black;
	}

	&.toast-alert img {
		background-color: #a0b4bc;
	}
}

.theme-orange {
	.listitem {
		background-color: #fef9f5;

		.gender-bg {
			background-color: #faedde;
		}

		.gender-icon {
			color: #d2a597;
		}

		input[type='range']::-webkit-slider-runnable-track {
			background-color: #fceadd;
		}

		input[type='range']::-moz-range-track {
			background-color: #fceadd;
		}

		input[type='range']::-webkit-slider-thumb {
			background-color: #e0d7c8;
		}

		input[type='range']::-moz-range-thumb {
			background-color: #e0d7c8;
		}

		.action-button {
			background-color: #faedde;
			color: #d2a597;
		}

		.action-button-reverse {
			color: #faedde;
			background-color: #d2a597;
		}

		.fa-spinner {
			color: #d2a597;
		}
	}
	.listitem.item-open {
		box-shadow: 0px 4px 10px rgba(210, 165, 151, 0.5);
	}

	&.toast-alert {
		background-color: #faedde;
		color: black;
		box-shadow: 0px 4px 10px rgba(49, 49, 49, 0.8);
	}

	&.toast-alert button {
		color: black;
	}

	&.toast-alert img {
		background-color: #d2a597;
	}
}

.theme-pink {
	.listitem {
		background-color: #fff8f5;

		.gender-bg {
			background-color: #feebe7;
		}

		.gender-icon {
			color: #d68c8a;
		}

		input[type='range']::-webkit-slider-runnable-track {
			background-color: #ffe3de;
		}

		input[type='range']::-moz-range-track {
			background-color: #ffe3de;
		}

		input[type='range']::-webkit-slider-thumb {
			background-color: #ead1cb;
		}

		input[type='range']::-moz-range-thumb {
			background-color: #ead1cb;
		}

		.action-button {
			background-color: #feebe7;
			color: #d68c8a;
		}

		.action-button-reverse {
			color: #feebe7;
			background-color: #d68c8a;
		}

		.fa-spinner {
			color: #d68c8a;
		}
	}

	.listitem.item-open {
		box-shadow: 0px 4px 10px rgba(214, 140, 138, 0.5);
	}

	&.toast-alert {
		background-color: #feebe7;
		color: black;
		box-shadow: 0px 4px 10px rgba(49, 49, 49, 0.8);
	}

	&.toast-alert button {
		color: black;
	}

	&.toast-alert img {
		background-color: #d68c8a;
	}
}

.theme-green {
	.listitem {
		background-color: #fcfdf7;

		.gender-bg {
			background-color: #eef6e9;
		}

		.gender-icon {
			color: #b2c5ab;
		}

		input[type='range']::-webkit-slider-runnable-track {
			background-color: #eaf7da;
		}

		input[type='range']::-moz-range-track {
			background-color: #eaf7da;
		}

		input[type='range']::-webkit-slider-thumb {
			background-color: #dbdfcf;
		}

		input[type='range']::-moz-range-thumb {
			background-color: #dbdfcf;
		}

		.action-button {
			background-color: #eef6e9;
			color: #b2c5ab;
		}

		.action-button-reverse {
			color: #eef6e9;
			background-color: #b2c5ab;
		}

		.fa-spinner {
			color: #b2c5ab;
		}
	}

	.listitem.item-open {
		box-shadow: 0px 4px 10px rgba(178, 197, 171, 0.5);
	}

	&.toast-alert {
		background-color: #eef6e9;
		color: black;
		box-shadow: 0px 4px 10px rgba(49, 49, 49, 0.8);
	}

	&.toast-alert button {
		color: black;
	}

	&.toast-alert img {
		background-color: #b2c5ab;
	}
}

.theme-yellow {
	.listitem {
		background-color: #fefdf9;

		.gender-bg {
			background-color: #fbf0ef;
		}

		.gender-icon {
			color: #de9e9f;
		}

		input[type='range']::-webkit-slider-runnable-track {
			background-color: #fef2e6;
		}

		input[type='range']::-moz-range-track {
			background-color: #fef2e6;
		}

		input[type='range']::-webkit-slider-thumb {
			background-color: #e2dbcb;
		}

		input[type='range']::-moz-range-thumb {
			background-color: #e2dbcb;
		}

		.action-button {
			background-color: #fbf0ef;
			color: #de9e9f;
		}

		.action-button-reverse {
			color: #fbf0ef;
			background-color: #de9e9f;
		}

		.fa-spinner {
			color: #de9e9f;
		}
	}

	.listitem.item-open {
		box-shadow: 0px 4px 10px rgba(222, 158, 159, 0.5);
	}

	&.toast-alert {
		background-color: #fbf0ef;
		color: black;
		box-shadow: 0px 4px 10px rgba(49, 49, 49, 0.8);
	}

	&.toast-alert button {
		color: black;
	}

	&.toast-alert img {
		background-color: #de9e9f;
	}
}

.theme-veto {
	.listitem {
		background-color: #f0f0f0;

		.veto-icon,
		.veto-label {
			color: #464646;
		}

		.action-button,
		.action-button-reverse {
			background-color: #c0c0c0;
			color: black;
		}

		.action-button-reverse {
			background-color: #464646;
			color: white;
		}
	}

	.listitem.item-open {
		box-shadow: 0px 4px 10px rgba(114, 114, 114, 0.5);
	}
}
